body {
    margin:0
}
.box {
    width: 100px;
    height: 100px;
    background-color:white;
}
#fullbox2{
    position: absolute;
    top: 0px;
    left:0px;
    width: 99%;
    height: 380px;
    background-color: white;
    border: dotted  black;
}

#four{
    position: relative;
    top: 120px;
    left: 120px;
    background-color: red;
}
#five {
    position: relative;
    top: 85px;
    left: 180px;
    background-color: blue;
    z-index: 2;

}
#six{ 
    position: relative;
    top: 55px;
    left: 245px;
    background-color: green;
}

